// @import './variables.scss';
@import "src/styles/variables.scss";

.btn {
  color: #fff;
  background: $theme-color;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
}

.btn:active {
  background: $theme-color;
}

.text-primary {
  color: $theme-color;
}

.clear {
  zoom: 1;
}

.clear {
  zoom: 1;

  &:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.m_avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.base_padding {
  padding: $base-padding;
}

.section {
  &:first-child {
    margin-top: 8px;
  }

  margin-bottom: 8px;
}

.section:first-child {
  margin-top: 10px;
}

.section:last-child {
  margin-bottom: 10px;
}

.group {
  .groupTitle {
    margin: 10px 0px;
    font-size: 18px;
  }
}

.notice {
  display: block;
  margin: 5px 0 13px;
  text-align: center;
}
